%h1.header
  StoverFlow
%h4
  Meeting all your Stove Needs

- if session[:id]
  = link_to 'Logout', logout_path
- else
  = link_to 'Login', login_path
  = link_to 'Sign Up', signup_path

- @questions.each do |question|
  %p
    Score
    =question.votes.map{|vote| vote.value }.inject(0) {|sum,v| sum + v}
    %h4=link_to question.title.titleize, question_path(question), :method => :get
    %br
